.navbar {
    position: fixed; 
    background: transparent; /* No background color (transparent) */
    padding: 1.5rem 0; /* Remove horizontal padding */
    z-index: 999;
    width: 100%;
    left: 0; /* Ensure it's aligned to the left edge */
    filter: blur(0px); 
  }
  
ul.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
    justify-content: flex-end; /* Aligns items to the right */
    margin-right: 2rem; /* Adds some spacing from the right edge */
  }
  
  ul.nav-links li {
    margin-right: 1.5rem; /* spacing between links */
  }
  
  .nav-links li a {
    color: #fff; /* white text color */
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* use Roboto for the link text */
    font-weight: 1000; /* normal weight (optional) */
    font-size: 1rem
  }